@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}
